<h1>Query 1: Elenco Verifica</h1>

<p class="mx-1">
  <input type="text" placeholder="Nome" class="my-1" #nome />
  <br />
  <input type="text" placeholder="Cognome" class="my-1" #cognome />
  <br />
  <button
    class="button rounded bg-primary text-white"
    (click)="getVerifiche(nome, cognome)"
  >
    Search
  </button>
</p>

<div *ngIf="listVerifica">
  <div *ngIf="listVerifica.length == 0">No result was found</div>
  <div *ngIf="listVerifica.length > 0">
    <h1>Risultati</h1>
    <div class="row px-2">
      <div class="col-sm-6 col-md-4" *ngFor="let v of listVerifica">
        <div class="bg-success rounded p-2">
          <h4>Titolo: {{ v.titolo }}</h4>
          <h5>Durata: {{ v.durata }}min</h5>
          <h5>Difficoltà: {{ v.difficolta }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
